{% extends 'base.html' %} {% block title %}Home{% endblock title %} 
{% block body %}
<div class="container">
  <div class="card mb-3 my-3">
    <img src="/static/reason.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Reasons to use Django</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        consequuntur commodi cum, molestias, ratione dignissimos temporibus sit
        tempora illo ipsum adipisci id aut veniam maiores nesciunt. Earum iste
        eligendi iure animi facere molestias sunt atque odio maxime. Voluptates
        vero quidem adipisci nihil corporis eveniet distinctio debitis culpa
        necessitatibus praesentium, odio accusantium quos voluptatum magni
        quisquam nisi aut. Saepe dicta corporis sapiente non aliquid soluta illo
        nam deserunt voluptatem nostrum, minima, cupiditate perspiciatis neque.
        Officiis, asperiores id iste corporis possimus, alias necessitatibus
        vitae voluptatibus fugiat, tenetur expedita eos tempore non similique!
        Deserunt tempore minima, sequi, nam repellat exercitationem doloribus
        aliquam illum, iure voluptatibus at dolorem quo accusamus provident
        alias nulla! Suscipit, doloribus, placeat ipsum ut hic optio repellat,
        nulla necessitatibus dicta a dignissimos non ab nam quasi commodi enim
        neque laudantium deserunt sint vitae voluptas quisquam animi! Autem,
        saepe explicabo. Magnam iste deleniti quod provident, omnis doloremque
        quia inventore magni nemo.
      </p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>

{% endblock body %}
