{% extends 'base.html' %}

{% block title %}Sign Up{% endblock title %}

{% block body %}

<link rel="stylesheet" href="/static/login.css" />

<div class="container-fluid my-4">
  <div class="box-form">
    <div class="left">
      <div class="overlay">
        <h1>Welcome to Django</h1>
      </div>
    </div>

    <div class="right">
      <h5>Sign Up</h5>
      <p>Already have an Account? <a href="/login">Log In here.</a></p>
      <form method="post" action="/signup">
        {% csrf_token %}
        <div class="inputs">
          <input type="text" name="username" placeholder="Username" />
          <br />
          <input type="password" name="password" placeholder="Password" />
        </div>
        <button class="mt-4" type="submit">SignUp</button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}
